/* ================================
   Footer
================================ */
.main-footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0; /* Se redujo el padding para disminuir la altura */
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer-copy {
    font-size: 1rem; /* Se redujo el tamaño del texto */
    letter-spacing: 0.5px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px; /* Se redujo el espacio entre los enlaces */
    margin: 10px 0; /* Se redujo el margen */
    padding: 0 15px;
}

.footer-link {
    color: #00bfff;
    text-decoration: none;
    font-size: 1.1rem; /* Tamaño de texto más pequeño */
    font-weight: 500;
    transition: color 0.3s ease;
    letter-spacing: 1px;
}

.footer-link:hover {
    color: #ffffff;
}

/* ================================
   Responsive
================================ */
@media (max-width: 768px) {
    .footer-links {
        gap: 25px; /* Se redujo el espacio entre los enlaces en dispositivos móviles */
    }

    .footer-copy {
        font-size: 0.9rem; /* Se ajustó el tamaño de la fuente en móviles */
    }

    .footer-link {
        font-size: 1rem; /* Se ajustó el tamaño de la fuente en móviles */
    }
}
