/* Fondo general aplicado al body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   /* centra horizontalmente */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url('../imagenes/mi_fondo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Contenedor del formulario */
.login-container {
    display: flex;
    flex-direction: column;   /* apila en columna */
    align-items: center;      /* centra horizontalmente */
    margin-top: 70px;         /* cerca del header */
    margin-bottom: 30px;
    width: 100%;
}
